@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
body{
  font-family: "Roboto", helvetica, arial, sans-serif;
  color: #ff3333;
  text-align: center;
  overflow-y: scroll;
  padding-top: 20px;
  padding-bottom: 20px;
}

table{
	text-align: left;
	clear: left;
	margin: 0 auto ;
	width: 100%;
}

tr:hover{
	color: white;
}

td{
	width: 50%;
	font-size: 18px;
	overflow-x: hidden;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

h3{
	/*float: left;*/
	clear: left;
	margin-bottom: 5px;
	margin-top: 15px;
}

.contentWill{
	clear: left;
	text-align: center;
	margin: 0 auto ;
}

.leftWill{
	float: left;
	width: 50%;
	text-align: center;
	height: 100%;
}

.rightWill{
	float: right;
	text-align: center;
	height: 100%;
	width: 50%;
}

@media print {
  	td{
		overflow-x: hidden;
		padding-left: 3px;
		color: black; 
		font-size: 12px;
		border: 1px double black;
	}

	h3{
		color: black;
		font-size: 15px;
	}

	h1{
		color: black;
		font-size: 20px;
	}

	button{
		opacity: 0;
	}

	table{
		border: 1px double black;
	}

	body{
		margin: 1cm 1cm 1cm 1cm;
	}

	html{
		margin: 1cm 1cm 1cm 1cm;
	}

	.contentWill{
		clear: left;
		margin: 0cm 0cm 0cm 0cm;
	}

	.leftWill{
		float: left;
		text-align: center;
		margin: 0cm 0cm 0cm 0cm;
	}

	.rightWill{
		float: right;
		text-align: center;
		margin: 0cm 0cm 0cm 0cm;
	}


}

@page{
		margin: 0.5cm;
		overflow-y: hidden;
	}