@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
body{
  font-family: "Roboto", helvetica, arial, sans-serif;
  color: #ff3333;
  text-align: center;
  overflow-y: scroll;
  padding-top: 20px;
  padding-bottom: 20px;
}

table{
	text-align: left;
	clear: left;
	margin: 0 auto ;
	width: 100%;
}

tr:hover{
	color: white;
}

td{
	width: 50%;
	font-size: 18px;
	overflow-x: hidden;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

h3{
	/*float: left;*/
	clear: left;
	margin-bottom: 5px;
	margin-top: 15px;
}

.contentWill{
	clear: left;
	text-align: center;
	margin: 0 auto ;
}

.leftWill{
	float: left;
	width: 50%;
	text-align: center;
	height: 100%;
}

.rightWill{
	float: right;
	text-align: center;
	height: 100%;
	width: 50%;
}

@media print {
  	td{
		overflow-x: hidden;
		padding-left: 3px;
		color: black; 
		font-size: 12px;
		border: 1px solid black;
	}

	h3{
		color: black;
		font-size: 15px;
	}

	h1{
		color: black;
		font-size: 20px;
	}

	button{
		opacity: 0;
	}

	table{
		border: 1px double black;
		padding: 0px;
	}

	body{
		margin: 1cm 1cm 1cm 1cm;
		width: 100%;
		height: 100%;
	}

	html{
		margin-top: -130px;
		margin-left: -15px;
		padding: 0px; 
		overflow: visible;
	}

	.output{
		width: 100%;
		height: 100%;
	}

	div.col-md-12.col-lg-12{
		page-break-inside: avoid;
	}

}
