@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
body{
  font-family: "Roboto", helvetica, arial, sans-serif;
  color: red;
  text-align: center;
  overflow-y: scroll;
  padding-top: 20px;
}

table{
	text-align: left;
	clear: left;
	margin: 0 auto ;
}

tr:hover{
	color: white;
}

td{
	min-width: 200px;
	max-width: 200px;
	overflow-x: hidden;
}

h3{
	/*float: left;*/
	clear: left;
	margin-bottom: 5px;
	margin-top: 15px;
}

.contentWill{
	clear: left;
	text-align: center;
	width: 100
	margin: 0 auto ;
}

.leftWill{
	float: left;
	width: 50%;
	text-align: center;
	height: 100%;
}

.rightWill{
	float: right;
	text-align: center;
	height: 100%;
	width: 50%;
}