{% extends "layout.html" %}
{% block content %}
<h1> Lodging </h1>
<br><br>

			<table border="1">
			<thead><tr><th colspan="2">Property Info</th></tr></thead>
			{% for attr in info %}
			<tr>
				<td id="col1"> {{ attr.column.replace("_", " ") }} </td>
				<td> {{ attr.value }} </td>
			</tr>
			{% endfor %}
			</table>

			
			<table border="1">
			<thead><tr><th colspan="2">Revenue</th></tr></thead>
			{% for attr in revenue %}
			<tr>
				<td id="col1-1"> {{ attr.column.replace("_", " ")}} </td>
				<td> {{ attr.value }} </td>
			</tr>
			{% endfor %}
		</table>

			<table border="1">
			<thead><tr><th colspan="2">Expenses</th></tr></thead>
			{% for attr in expenses %}
			<tr>
				<td id="col1"> {{ attr.column.replace("_", " ") }} </td>
				<td> {{ attr.value }} </td>
			</tr>
			{% endfor %}
			</table>

			<table border="1">
			<thead><tr><th colspan="2">NOI</th></tr></thead>
				<tr>
					<td id="col1">NOI</td>
					<td>${{ NOI }}</td>
				<tr>
			</table>

			<table border="1">
			<thead><tr><th colspan="2">Capitalization rate</th></tr></thead>
			{% for attr in cap_rate %}
			<tr>
				<td id="col1"> {{ attr.column.replace("_", " ") }} </td>
				<td> {{ attr.value }} </td>
			</tr>
			{% endfor %}
			</table>

			<table border="1">
			<thead><tr><th colspan="2">results</th></tr></thead>
			{% for attr in result %}
			<tr>
				<td id="col1"> {{ attr.column.replace("_", " ") }} </td>
				<td> {{ attr.value }} </td>
			</tr>
			{% endfor %}
			</table>
		</h3>
{% endblock %}
