{% extends "layout.html" %}
{% block content %}
<h1> Lodging </h1>
			<div class="col-md-6 col-lg-6"><div class="col-md-12 col-lg-12"><table border="1">
									<h3>Property Info</h3>
									{% for attr in info %}
									<tr>
										<td id="col1"> {{ attr.column.replace("_", " ") }} </td>
										<td> {{ attr.value }} </td>
									</tr>
									{% endfor %}
									</table></div>
			
						
						<div class="col-md-12 col-lg-12"><table border="1">
									<h3>Revenue</h3>
									{% for attr in revenue %}
									<tr>
										<td id="col1-1"> {{ attr.column.replace("_", " ")}} </td>
										<td> {{ attr.value }} </td>
									</tr>
									{% endfor %}
								</table></div>
			
						<div class="col-md-12 col-lg-12"><table border="1">
									<h3>Expenses</h3>
									{% for attr in expenses %}
									<tr>
										<td id="col1"> {{ attr.column.replace("_", " ") }} </td>
										<td> {{ attr.value }} </td>
									</tr>
									{% endfor %}
									</table></div></div>

			<div class="col-md-6 col-lg-6"><div class="col-md-12 col-lg-12"><table border="1">
									<h3>Net Operating Income<Net Operating Income/h3>
										<tr>
											<td id="col1">Net Operating Income</td>
											<td>{{ NOI }}</td>
										<tr>
									</table></div>
			
						<div class="col-md-12 col-lg-12"><table border="1">
									<h3>Capitalization rate</h3>
									{% for attr in cap_rate %}
									<tr>
										<td id="col1"> {{ attr.column.replace("_", " ") }} </td>
										<td> {{ attr.value }} </td>
									</tr>
									{% endfor %}
									</table></div>
			
						<div class="col-md-12 col-lg-12"><table border="1">
									<h3>results</h3>
									{% for attr in result %}
									<tr>
										<td id="col1"> {{ attr.column.replace("_", " ") }} </td>
										<td> {{ attr.value }} </td>
									</tr>
									{% endfor %}
									</table></div>

						<div class="col-md-12 col-lg-12"><h3>Child Parcels</h3>
            			<table border="1">
            			{% for child in children %}
            			<tr>
            				<td id="col1" style="text-align: center;"><a href="/search/{{child}}">{{ child }}</a></td>
            			</tr>
            			{% endfor %}
            			</table></div></div>
		</h3>
{% endblock %}
